.section{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 400px;
	width: 1200px;
	background: #000;
	display: flex;
}
.content{
	width:calc(50%-50px);
	height: 100%;

}
.imagebox{
	width: calc(50%+50px);
	height: 100%;
	background-image: url('../images/4.jpg');
	border-left: 200px solid #000;
	border-bottom: 300px solid transparent;
	background-position: center;
}