@media only screen and (max-width: 300px) {

html{	
	scroll-behavior: smooth;
}
body{
	background-color:#C8D0EA;

}
html, body {
 font-family: 'Caveat', cursive; 	 
 position:absolute;
 margin: 0;
 padding: 0;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;} 



ul{
	padding: 0;
	width: 90%;
	display: block;
}
.art1{
	width: 100%;
	display: block;
}


}