* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-1 {width: 23%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-9-1 {width: 73%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-91{width:70% }
[class*="col-"] {
	float: left;

}
html{	
	scroll-behavior: smooth;
}
body{
	background-color:#C8D0EA;

}
html, body {
 font-family: 'Caveat', cursive; 	 
 position:absolute;
 margin: 0;
 padding: 0;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;} 


 .menu ul{
    z-index: 845;
    width: 100%;
    margin:0;
    padding: 16px 0;
    background:#35314B;
    display: flex;
    position: fixed;
}
.menu ul li{
    list-style-type: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(255,255,255,255.2);
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a{

    text-decoration: none;
    padding: 0 80px;
    display: block;

}
.menu ul li a .icon{
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin :0 auto 10px;
}
.menu ul li a .icon .fas{
    width: 100%;
    height: 100%;
    line-height:20px;
    transition: 0.7s;
    color:#fff;
    font-size: 19px;
}

.menu ul li a .icon .fas:last-child{
    color:#FFC39A;
}
.menu ul li a:hover .icon .fas{
    transform: translateY(-115%);

}
.menu .menutoggle{
  position: fixed;
  top: 14px;
  z-index: 77474;
  right:30px;
  background: #fff;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  display: none;
}

.menu  ul li a .name{  
    width: 100%;
    height: 15px;
    display: block;
    overflow: hidden;
}
.menu  ul li a .name span{
    display: block; 
    color: #fff;
    font-size:16px;
    line-height:12px;
}

    .background-wrap{
         
        width: 100%;
        height: 100%;
        overflow: hidden;
        top:5%;
        left: 0;
        clear: both;
    }
    #video-bg-elem{position: relative;
        min-width: 100%;
        min-height: 100%;
    }
    .content{
    position: absolute;
    top: 0;
   
        width: 100%;
        margin-top: 0;
        min-height: 100%;
        background: rgba(0,0,0,0.7);
    }
    .content h1{
         opacity: 0.7;
         text-shadow: 4px 4px 10px darkgrey;
        margin-top: 350px;
        margin-left: 70px;
        cursor: pointer;
        text-align: center;
        font-size: 40px;
font-weight: 200;
        color: white;
    }
.arts{ 
   z-index: 2;
   clear: both;
   margin-left: 173px;
}
.art1{
    font-size: 14px;
    background-color:  rgba(253, 254, 254,0.3);
    text-align: center;
    margin: 13px;
    height: 400px;

}
.art1 img{
   width: 97%;
   height: 42%;
   margin:auto;
}
.art1:before{
   content: '';
   position:absolute;	 	
   margin-top:45px;
   margin-right: 90px;
   width: 7px;
   height: 7px;
   transition: 1s;
   border-radius: 50%;
   background: #990033;
   opacity: 0;

}
.art1:hover:before{
   opacity: 1;
   box-shadow: 10px 0 0 #DD9344,-10px 0 0 #DD9344, 20px 0 0 #1C386D, -20px 0 0 #1C386D;
}
.art1 p{
   padding: 10px;
   margin:10px;
   text-align: justify;
   justify-content: center;
}
.art1 button{
   float: right;
   margin-right: 20px;
   height: 20px;
   width:20px;
   margin-bottom: 2px;
   background: transparent;

}
.art1 button a:link,  .art1 button a:visited,  .art1 button a:active{
   color: black;

}
.contact{
   position: fixed;
   top:65%;
   left: 0;
   z-index: 213;
}
.cntc{
   cursor: pointer;
   position: relative;
}
.cntc i{
   display: block;
   width: 60px;
   text-align: center;
   height: 40px;
   line-height: 40px;
   background: #f1f1f1;
   color: #b9b9b9;
   font-size: 20px;
   transition: 0.6s;
}
.cntc:hover i{
   color:#616F9B  ;
}
.text{
   position: absolute;
   height: 40px;
   width: 150px;
   background: #1b1b1b;
   top: 0;
   z-index: -1;
   left: -140px;
   color: #fff;
   line-height: 40px;
   text-align: center;
   transition: 0.6s;
}
.cntc:hover .text{
   left: 50px;
}
.text a:link, .text a:visited, .text a:hover{
   text-decoration: none;
   color: white;
}
.arts1{
	
	z-index: 2;
	clear: both;
	margin-left: 173px;
}

.about{
	background-color:  rgba(253, 254, 254,0.3);;
	margin-left: 185px;
	clear: both;
	margin-top: 10px;

}
.metn{
    border-radius: 10px;
	clear: both;	
	padding: 20px;
}
.bos{
	border-radius: 5px;
	height: 1px;
	width: 30px;
	border:2px solid #C86528;'

}

.metn h1{
	line-height: 60px;
}
.metn p{
	font-size: 16px;
	clear: both;
	float: left;
	width: 47%;
	text-align: justify;
	padding-bottom: 10px;
}
.metn img{
	width: 49%;
    border-radius: 10px;
	margin-top: 45px;
	margin-left: 2%;
	margin-right: 0;
	float: left;
	overflow: auto;
}
.arxa{
	
	clear: both;
	width: 100%;	
	height: 600px;
	background-image: url(../images/20.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.gallery{
	height: 600px;
	margin: 50px 90px;
	display: inline-block;
	
}
.gallery .im1{

	height: 300px;
	
}
.gallery .im1 .im {
	width: 400px;
    float: left;
    overflow: hidden;

}
.gallery .im1 .im:nth-child(1){	
    overflow: hidden;
    float: left;
    width: 400px;
    height: 300px;		
    opacity: 0.6;
    background-size:  100% 100%;
    background-image: url('../images/13.jpg');
}
.gallery .im1 .im:nth-child(2){	
    overflow: hidden;
    float: left;
    width: 400px;
    height: 300px;		
    opacity:  0.6;
    background-size:  100% 100%;
    background-image: url('../images/22.jpg');
}
.gallery .im1 .im:nth-child(3){	
	overflow: hidden;
	float: left;		
	opacity:  0.6;
	width: 400px;
	height: 300px;
	background-size:  100% 100%;
	background-image: url('../images/16.jpg');
}
.gallery .im1 .im:nth-child(4){	
    overflow: hidden;
    width: 400px;
    height: 300px;
    float: left;		
    opacity: 0.6;
    background-size:  100% 100%;
    background-image: url('../images/15.jpg');
}
.gallery .im1 .im:nth-child(5){	
    overflow: hidden;
    float: left;
    width: 400px;
    height: 300px;		
    opacity: 0.6;
    background-size:  100% 100%;
    background-image: url('../images/23.jpg');
}
.gallery .im1 .im:nth-child(6){	
	width: 400px;
	height: 300px;
	float: left;		
	opacity: 0.6;
	overflow: hidden;	
	background-image: url('../images/1.jpg');
	background-size:  100% 100%;
	background-position: center;

}
.gallery .im1 .im:hover{
    transform: scale(1.1);
    opacity:1;
    transition:1s;

}
.faq{
	text-align: center;
	align-items: center;
	justify-content: center;
    clear: both;
    width: 100%;	
    height: 600px;
    background-image: url(../images/0.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.faq table{
	margin: auto 300px ;
}
.faq h1{
	color: #194764;
	line-height: 70px;
	margin-top: 200px;
	text-transform: capitalize;

}
.faq input{
	border:1px solid darkgrey;
    background: rgba(255, 255, 255,0.8);
    width: 400px;
    height: 50px;
    font-size: 20px;
}
.faq input::placeholder{
 padding-left: 5px;
    color: darkblue;
    font-size: 18px;
}
.faq input[type=email]{
    background: rgba(255, 255, 255,0.8);
    width: 800px;

}
.faq textarea{
	background: rgba(255, 255, 255,0.8);
	width: 800px;
	height: 150px;
	resize: none;
}
.faq textarea::placeholder{
    padding-left: 5px;
    color: darkblue;
    font-size: 18px;
}

.faq input:hover{
	background: none;
	border:none;
	transition:1s;

}
.faq textarea:hover{
	background: none;
	border:none;
	transition:1s;

}
.faq input:focus{
	background: rgba(255, 255, 255,0.6);
	border:none;
	transition:1s;

}
.faq textarea:focus{
	background:rgba(255, 255, 255,0.6);
	border:none;
	transition:1s;

}
.footer{
	clear: both;
	background-color:  #35314B;
	height: 50px;
}

@media only screen and (max-width: 500px) {



ul{
  padding: 0;
  width: 90%;
  display: block;
  overflow: hidden;
  transition: .5s;
transform: translate(-50%,-50%) scaleY(0);
transform-origin: top;
}
ul.active{

  transform: translate(-50%,-50%) scaleY(1);
}
 ul li{
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 10px 0;
  display: flex;
 }
ul li a{
padding: 0 20px;
}
ul li a .icon{
  margin: 0 auto;
  display: inline-block;
  float: left;
}
.menu .menutoggle{
  display: block;
}

.col-3-1{
  width: 100%;
}
}