
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-1 {width: 23%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-9-1 {width: 73%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-91{width:70% }
[class*="col-"] {
	float: left;

}
body{
	margin: 0;
	padding: 0;
	background: url('../images/18.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.box {
	height: 300px;
	position: absolute;
	padding: 40px;
	top: 20%;
	left: 3%;	
	border-radius: 10px;
	background: rgba(0,0,0,0.7);
	box-shadow: 0 15px 25px rgba(0,0,0,.5);	
}
.box h1{
	margin: 0 0 30px;
	padding: 0;
	color: white;
	text-align: center;
}
.box .inputbox{
	
	position: relative;
}
.box .inputbox input{
width: 100%;
padding: 10px 0;
font-size: 16px;
color: white;
letter-spacing: 1px;
margin-bottom: 30px;
background: transparent;
border-bottom: 2px solid white;
border-top: none;
border-left: none;
border-right: none;
outline: none;
}
.box .inputbox label{
position: absolute;
padding: 10px 0;
left: 0;
letter-spacing: 1px;
top: 0;
font-size: 20px;
color: white;
pointer-events: none;
transition: 0.5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label{

top: -18px;
left: 0;
color: #E5661D;
font-size: 16px;
}
.box  input[type="submit"]{
border-radius: 5px;
border: none;
outline: none;
color:#fff;
background: #E5661D;
cursor: pointer;
padding: 10px 20px;
}
.icon{
	font-size: 23px;
	margin: 20px;
	color: rgba(254,254,254,.7);
}
.icon i{
	margin: 10px;
}
.icon a:link,.icon a:visited,.icon a:active{
	color: rgba(254,254,254,.7);
	text-decoration: none;
}