* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-1 {width: 23%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-9-1 {width: 73%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-91{width:70% }
[class*="col-"] {
	float: left;

}
html{	
	scroll-behavior: smooth;
}
body{
	background-color: #C8D0EA;

}

.menu{
	z-index: 2132;
	position: fixed;
	overflow: hidden;
	background-color: #35314B;
	color: white;
	font-size: 20px;
	

}
.menu ul li{
	margin-left: 30px;
	padding: 20px 70px;
	display: inline-block;
	list-style-type: none;
}
.menu ul li a{
	color:white;
	text-decoration: none;
	display: block;
	position: relative;
	transition: .7s;

}

.menu ul li a:visited{
	color:white;
	text-decoration: none;

}

.menu ul:hover li a{
	transform: scale(1.2);
	opacity: .2;
	filter: blur(2px);
}
.menu ul li a:hover{
	transform: scale(1.5);
	opacity: 1;
	filter: blur(0);
}
.menu ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#C86528 ;
	transition: transform 0.5s;
	transform-origin: right;
	transform:scaleX(0);
	z-index: -1;
}
.menu ul li a:hover:before{
	padding:2px 3px;
	border-radius: 5px;
	transition: transform 0.5s;
	transform-origin: left;
	transform:scaleX(1);
}
.contact{
        	position: fixed;
        	top:65%;
        	left: 0;
        	z-index: 213;
        }
        .cntc{
        	cursor: pointer;
        	position: relative;
        }
        .cntc i{
        	display: block;
        	width: 60px;
        	text-align: center;
        	height: 40px;
        	line-height: 40px;
        	background: #f1f1f1;
        	color: #b9b9b9;
        	font-size: 20px;
        	transition: 0.6s;
        }
        .cntc:hover i{
        	color:#616F9B  ;
        }
        .text{
        	position: absolute;
        	height: 40px;
        	width: 130px;
        	background: #1b1b1b;
        	top: 0;
        	z-index: -1;
        	left: -140px;
        	color: #fff;
        	line-height: 40px;
        	text-align: center;
        	transition: 0.6s;
        }
        .cntc:hover .text{
        	left: 50px;
        }
        .text a:link, .text a:visited, .text a:hover{
        	text-decoration: none;
        	color: white;
        }