
body{
  background-image: url('../images/49.jpg');
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-91{width:70% }
[class*="col-"] {
  float: left;

}


.box{
  width: 450px;
  padding: 40px;
  position: absolute;
  top: 51%;
  left: 25%;
  transform: translate(-50%,-50%);
border-radius: 10px;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 15px 25px rgba(0,0,0,.5); 
  border-radius: 5px;
  text-align: center;

}


.box h1{
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"],
.box input[type = "date"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #919BC8;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 7px;
  transition:.5s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,
.box input[type = "email"]:focus,
.box input[type = "date"]:focus{
  width: 300px;
  border-color:#ECA763;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #F3D167;
  padding: 14px 20px;
  outline: none;
  color: white;
  border-radius: 7px;
  transition:1s;
  cursor: pointer;
}

.box input[type = "submit"]:hover{
  background: #F3D167;
  color: black;
}

.box p{
  color: white;
  font-size: 15px;
  padding: 5px;
}
.box button{
 border:2px solid #DC7633  ;
 width: 150px;
 height: 30px;
 border-radius: 7px;
 background: none;
 color: white;
 padding: 5px 10px;
}
.box button:hover{
  background:#DC7633;
  color: white;
  transition: 1s;
}
.box a{
  text-decoration: none;
  color: white;
}
.icon{
  width: 55px;
  border-radius: 50%;
  padding: 5px;
  font-size: 23px;
  margin: 20px;
  
  color: rgba(254,254,254,.7);
}

.icon i:hover {
   color:#DC7633;
     transition: .8s;
}
.icon i{
  margin: 10px;
}
.icon a:link,.icon a:visited,.icon a:active{
  color: rgba(254,254,254,.7);
  text-decoration: none;
}