* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-1 {width: 24%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-9-1 {width: 73%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-91{width:70% }
[class*="col-"] {
	float: left;

}
html{	
	scroll-behavior: smooth;
}
body{
font-family: 'Caveat', cursive; 
	margin: 0;
	padding: 0;
	background-image: linear-gradient(125deg,#DC8080,#ECAB67,#A5C66E,#6EC68B,#6EC6B6,#6EA1C6,#6E72C6,#A26EC6);
	background-size: 400% 400%;
	animation: bganimation 15s infinite;
}
.text{  
	margin: 1px 0; 
}

@keyframes bganimation {
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}



 .menu ul{
    z-index: 845;
    width: 100%;
    margin:0 ;
    padding: 16px 0;
    background:#35314B;
    display: flex;
    position: fixed;
}
.menu ul li{
    list-style-type: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(255,255,255,255.2);
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a{

    text-decoration: none;
    padding: 0 80px;
    display: block;

}
.menu ul li a .icon{
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin :0 auto 10px;
}
.menu ul li a .icon .fas{
    width: 100%;
    height: 100%;
    line-height:20px;
    transition: 0.7s;
    color:#fff;
    font-size: 19px;
}

.menu ul li a .icon .fas:last-child{
    color:#FFC39A;
}
.menu ul li a:hover .icon .fas{
    transform: translateY(-115%);

}
.menu  ul li a .name{  
    width: 100%;
    height: 15px;
    display: block;
    overflow: hidden;
}
.menu  ul li a .name span{
    display: block; 
    color: #fff;
    font-size:16px;
    line-height:12px;
}
.txt{
	text-align: center;
	clear: both;
	margin-top: 90px;
	margin-left: 173px;
	height: 100px;
}
.contact{
        	position: fixed;
        	top:65%;
        	left: 0;
        	z-index: 213;
        }
        .cntc{
        	cursor: pointer;
        	position: relative;
        }
        .cntc i{
        	display: block;
        	width: 60px;
        	text-align: center;
        	height: 40px;
        	line-height: 40px;
        	background: #f1f1f1;
        	color: #b9b9b9;
        	font-size: 20px;
        	transition: 0.6s;
        }
        .cntc:hover i{
        	color:#616F9B  ;
        }
        .text{
        	position: absolute;
        	height: 40px;
        	width: 130px;
        	background: #1b1b1b;
        	top: 0;
        	z-index: -1;
        	left: -140px;
        	color: #fff;
        	line-height: 40px;
        	text-align: center;
        	transition: 0.6s;
        }
        .cntc:hover .text{
        	left: 50px;
        }
        .text a:link, .text a:visited, .text a:hover{
        	text-decoration: none;
        	color: white;
        }
        .txt{
           background: transparent;
            border: 1px solid rgba(255, 255, 255,.7);
	       color: rgba(255, 255, 255,.7);
	       margin-top: 100px;
            margin-left: 187px;

}
.txt h1{
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

.txt h1:hover{
text-shadow: 0 0 5px tomato;

}
.arts{  
   font-size: 20px;
	z-index: 2;
	clear: both;
	margin-left: 173px;
}
.art1 table{
	text-align: left;
}
.art1{
	padding: 10px;
	border-radius: 12px;
	background-color:  rgba(255, 255, 255,.7);
	margin: 13px;
	color: #4C4C4F;
	height: 400px;
}
.art1 img{
	width: 97%;
	height: 190px;    
    margin-bottom: 0;
}
.art1 button{
    border: none;
	font-family: 'Caveat', cursive; 
    font-size: 15px;	
	background:#35314B;
	color: #fff;
	height: 35px;
	width: 90px;
	float: right;
    padding: 8px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.art1 button:hover{
	
}

.footer{
	clear: both;
	background-color: #35314B;
	height: 50px;
}
