 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-1 {width: 23%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-9-1 {width: 73%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-91{width:70% }
[class*="col-"] {
	float: left;

}
html{	
	scroll-behavior: smooth;
}
body{
	background-color: #C8D0EA;

}
 html, body {
 		font-family: 'Caveat', cursive; 	 
            position:absolute;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;} 

.menu ul{
    z-index: 845;
    width: 100%;
    margin:0 ;
    padding: 16px 0;
    background:#35314B;
    display: flex;
    position: fixed;
}
.menu ul li{
    list-style-type: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(255,255,255,255.2);
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a{

    text-decoration: none;
    padding: 0 80px;
    display: block;

}
.menu ul li a .icon{
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin :0 auto 10px;
}
.menu ul li a .icon .fas{
    width: 100%;
    height: 100%;
    line-height:20px;
    transition: 0.7s;
    color:#fff;
    font-size: 19px;
}

.menu ul li a .icon .fas:last-child{
    color:#FFC39A;
}
.menu ul li a:hover .icon .fas{
    transform: translateY(-115%);

}
.menu  ul li a .name{  
    width: 100%;
    height: 15px;
    display: block;
    overflow: hidden;
}
.menu  ul li a .name span{
    display: block; 
    color: #fff;
    font-size:16px;
    line-height:12px;
}
 .show{
    margin-top:75px;
}


.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.jssorb064 {position:absolute;}
.jssorb064 .i {position:absolute;cursor:pointer;}
.jssorb064 .i .b {fill:#000;fill-opacity:.5;stroke:#fff;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
.jssorb064 .i:hover .b {fill-opacity:.8;}
.jssorb064 .iav .b {fill:#ffe200;fill-opacity:1;stroke:#ffaa00;stroke-opacity:.7;stroke-width:2000;}
.jssorb064 .iav:hover .b {fill-opacity:.6;}
.jssorb064 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}


 	.meqale{
 		padding: 20px;
 		background-color: #fff;
 		border-radius: 5px;
 		margin-top: 30px;
 		overflow: auto;
 		text-align: justify;
 		margin-left: 173px;
 	}
 	.meqale h1{
 		line-height: 80px;
 	}
.meqale img{
	width: 350px;
	overflow: auto;
	margin: 10px;
	float: right;
	border-radius: 5px;
}
.meqale .iki {
	float: left;
    margin-left: 0;
}
.footer{
	margin-top: 10px;
	clear: both;
	background-color:  #35314B;
	height: 50px;
}